

#logo {
    display: inline-block;
    background-color: #4aaaa5;
}

/* header {
    
    background-color: #ffffff;
    height: 75px;
} */

.navbar {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 75px;
}

.nav-1 {
    width: 960px;
    margin: 0 auto;
}

.nav-2 {
    float: left;
    background-color: #4aaaa5;
    height: 75px;
    padding: 0 10px;
}

.nav-3 {
    float: right;
    background-color: orange;
    margin-top: 30px;

}

.main-content {
    width: 960px;
    margin: 100px auto;
    background-color: #ffffff;
}

body {
    background-image:url(../images/stardust-img.png)
}